header{
    text-transform: uppercase;
    color: #412f2f;
}

body{
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.container{
     /* max-width: 900px; */
    text-align: center;
    margin: 10px;
    padding: 0 10px;
    background-color:#20b2aa;
    border-radius: 20px;
 }
.image-container {
    display: inline-block;
  }

  img {
    float: left;
    margin-right: 10px;
    margin: 10px;
  }
 
  h2{
    float: right;
    text-align: center;
    margin-left: 100px;
  }

  .data-item{
    margin-top: 30px;
  }
  
  button{
    text-align: center;
    background-color: #20b2aa;
  }
  footer{
    background-color: #20b2aa;
    color: #fff;
    padding: 20px 0;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}